.forgot-password {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  gap: 50px 0px;

  .logo {
    width: 400px;
    object-fit: contain;
  }

  .forgot-password__title {
    text-align: center;
    font-weight: 600;
  }

  .forgot-password__credentials-card {
    border-radius: 10px;
    width: 400px;
    padding: 40px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .forgot-password_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.forgot__password {
  text-decoration: none;
  cursor: pointer;
}

// mobile resposive query
@media (max-width: 768px) {
  .forgot-password {
    .logo {
      width: 300px;
    }
    .forgot-password__credentials-card {
      width: 300px;
      padding: 20px;
    }
  }
}
