.product__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
  gap: 20px;
}

@media (max-width: 768px) {
  .product__list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
